.page {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #F4F4F4;
    font-family: "Inter", sans-serif;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}

.page * {
    transition: all .1s ease-in-out;
}