.quote {
  display: grid;
  column-gap: 80px;
  grid-template-columns: minmax(284px, 650px) minmax(470px, 1fr);
  padding: 120px 120px 60px;
}

@media screen and (max-width: 970px) {
  .quote {
    column-gap: 40px;
    grid-template-columns: minmax(284px, 650px) minmax(284px, 100%);
  }
}

@media screen and (max-width: 767px) {
  .quote {
    margin: 40px 18px 0;
    padding: 20px 0 40px;
    grid-template-columns: minmax(284px, 100%);
    row-gap: 40px;
    border-top: 1px solid #E3E3E3;
  }
}