.section-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: calc(32px + 23 * ((100vw - 320px)/(1440 - 320)));
  line-height: 1.09;
  letter-spacing: -0.5px;
  color: #151515;
  margin: 0;
  max-width: 460px;
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 55px;
  }
}