.bikes__tabs-item {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #222222;
    text-decoration: none;
    cursor: pointer;
    z-index: 5;
    opacity: 0.7;
}

.bikes__tabs-item:not(:last-child) {
    margin-right: 40px;
}

.bikes__tabs-item:last-child {
    text-transform: uppercase;
}