.section-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: calc(12px + 6 * ((100vw - 320px)/(1440 - 320)));
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    max-width: 460px;
    margin: 0;
}

@media screen and (min-width: 1440px) {
  .section-subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .section-subtitle {
    line-height: 18px;
  }
}