@media screen and (max-width: 1029px) {
  .section-title_place_training {
    width: 100%;
    grid-area: title;
  }
}

@media screen and (max-width: 380px) {
  .section-title_place_training {
    width: 284px;
  }
}