.training__links {
    margin-top: 182px;
}

@media screen and (max-width: 1280px) {
    .training__links {
        margin-top: 80;
    }
}

@media screen and (max-width: 1029px) {
    .training__links {
        margin: 0;
    }
}