.header {
  padding: 28px 120px;
  max-width: 100%;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 6;
  background-color: #F4F4F4;;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 26px 18px 29px;
    display: flex;
    justify-content: flex-end;
    width: 20px;
    border-radius: 0 0 0 20px;
    margin-left: auto;
  }
}