.bikes__images-link {
    width: 380px;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
    box-shadow: -20px 60px 220px rgb(0 0 0 / .2);
    border-radius: 20px;
}

@media screen and (max-width: 380px) {
    .bikes__images-link {
      max-width: 284px;
      min-height: 308px;
    }
}