.bikes {
  max-width: 100%;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
	.bikes {
		width: 100%
    padding-bottom: 64px;
    margin: 40px 18px 0;
    border-top: 1px solid #E3E3E3;
	}
}