.bikes__select {
    display: none;
    width: 114px;
    height: 30px;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    margin-top: 40px;
    padding: 0 12px;
}

@media screen and (max-width: 320px) {
	.bikes__select {
		display: block;
	}
}

