.section-subtitle_place_training {
  grid-area: subtitle;
  margin-top: 0;
}

@media screen and (max-width: 1280px) {
  .section-subtitle_place_training {
    max-width: 300px
  }
}

@media screen and (max-width: 767px) {
  .section-subtitle_place_training {
    min-width: 100%;
  }
}