.bikes__top {
    display: flex;
    padding-bottom: 120px;
    justify-content: space-between;
}

@media screen and (max-width: 1029px) {
  .bikes__top {
    flex-direction: column;
    padding-bottom: 53px;
  }
}

@media screen and (max-width: 767px) {
  .bikes__top {
    padding-bottom: 20px;
  }
}