.training__wrapper {
    grid-template-columns: minmax(460px, 1fr) minmax(284px, 580px);
    column-gap: 160px;
    display: grid;
    z-index: 1;
}

@media screen and (max-width: 1280px) {
    .training__wrapper {
        column-gap: 80px;
    }
}

@media screen and (max-width: 1029px) {
    .training__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        gap: 30px;
        width: 380px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 380px) {
    .training__wrapper {
        width: 284px;
    }
}


