.freeway__slider {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  column-gap: 40px;
  overflow: hidden;
}

/*@media screen and (max-width: 1440px) {
  .freeway__slider {
    justify-content: center;
  }
}*/

@media screen and (max-width: 767px) {
  .freeway__slider {
    order: 3;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}