.bikes__placeholder {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .bikes__placeholder:not(:first-of-type) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .bikes__placeholder {
    height: 328px;
  }
}